@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: rgb(34 47 94); */
  /* background-color: #1F2833; */
  background-color: #2C3333;
  color: aliceblue;
  font-size: larger;
}